
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reset Password : Wake Wall</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Reset Password</h2>

  

  <form method="POST" id="passwordForm" action="http://localhost:5000/api/user/submitPassword">
   <div class="form-group">
      <input type ="hidden" name ="token" value="{{token}}" />
      <label for="email">New Password:</label>
      <input id="password" type="password" required="true" class="form-control" id="email" placeholder="Enter password" name="password">
    </div>
    <div class="form-group">
      <label for="pwd">Confirm Password:</label>
      <input id="confirmPassword" type="password" required="true" class="form-control" id="pwd" placeholder="Enter password" name="conf_password">
    </div>
     <p id="error-message" style="color: red;"></p>
    <button type="Submit" class="btn btn-info">Reset</button>
   
   <span ></span>
      {{#if msg }}

       <span style="color:green">Password updated successfully</span>

      {{/if}}

{{!-- 
      {{#if msg == }}

      <span style="color:red">An error has occured</span>

      {{msg}}
      {{/if}} --}}
    </span>
  </form>
</div>

</body>
</html>

<script>

  document.getElementById('passwordForm').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            const errorMessage = document.getElementById('error-message');

            // Clear previous error message
            errorMessage.textContent = '';

            if (password !== confirmPassword) {
                event.preventDefault(); // Prevent form submission
                errorMessage.textContent = 'Passwords do not match.';
            }
        });
</script>